# Python virtual environment
venv/
.venv/
__pycache__/
*.pyc

# Private credentials & local config
.env
.DS_Store
.streamlit/

# Local raw SEC JSON downloads (Optional: excludes large cache files)
EDGARClient/JSON_FILES/
